/* LiquidEther Component Styles */
.liquid-ether-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.liquid-ether-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}